 *{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
 }

 body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1D212B;
 }

.img-slider {
    position: relative;
    width: 800px;
    height: 500px;
    margin:10px;
    background: #1D212B;
 }

.slide {
    z-index: 1;
    position: absolute;
    width:100%;
 }

.slide img {
    z-index: 1;
    width:100%;
    border-radius: 5px;;
 }

.info {
    position: absolute;
    top:0;
    padding: 15px 30px;
 }

 .info h2 {
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
 }

 .info p {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
 }

 